* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: whitesmoke;
}

.container {
    max-width: 100%;
    padding: 15px;

    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(79, 181, 135);
    margin-left: 0px;
}

.container a {
    color: white;
}

.container .sections ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

.container .sections li {
    margin: 15px;
}

img {
    width: 100%;
    height: 100px;
    margin-left: 50px;

}


.presentation {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 100px;
    max-width: 100%;
    padding: 10px;
    padding-top: 50px;
}

.bureau img {
    width: 70%;
    height: 40%;
    border-radius: 100%;
    margin-top: -4vh;
    object-fit: cover;
    object-position: center;
}


.presentation .name {
    font-size: x-large;
    margin-left: 50px;
    margin-bottom: 50px;
}

.voir a {
    display: inline-block;
    background-color: rgb(79, 181, 135);
    color: rgb(13, 13, 13);
    margin: 6px;
    margin-top: 25px;
    padding: 15px;
    width: 300px;
    border: none;
    border-radius: 4px;
    box-shadow: 4px;
    font-size: 25px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.green {
    color: rgba(247, 30, 30, 0.737);
}